# Configuration file

##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# Allow to disable filters in game
##########################################################################################################

general {
    B:toggle=true
}


