# Configuration file

all {
    # rename the oresheet here, it will appear in /config [default: D:\Spartak files\ATL\Instances\GW\config/GTNH-Oresheet.csv]
    S:CSV_name=D:\Spartak files\ATL\Instances\GW\config/GTNH-Oresheet.csv

    # rename the oresheet here, it will appear in /config [default: D:\Spartak files\ATL\Instances\GW\config/GTNH-Small-Ores-Sheet.csv]
    S:CSV_name_for_Small_Ore_Sheet=D:\Spartak files\ATL\Instances\GW\config/GTNH-Small-Ores-Sheet.csv

    # Activates Dimensison Tooltips [default: true]
    B:DimTooltip=true

    # Hides the Background when the tooltip for the Dimensions is rendered [default: true]
    B:"Hide Background"=true

    # princsv, you need apache commons collections to be injected in the minecraft jar. [default: false]
    B:"print csv"=false
}


